*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --white: #fafdfc;
    --whiteHover: hsl(160 42.9% 98.6% / .2);
    --gray: rgba(0,0,0,.30);
    --green: #1e3932;
    --vibrant-green: #00754a;
    --text: #060c0a;
    --lightgreen: #d4e9e2;
    --greenHover: hsl(164 31% 17.1% / .1);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--green);
    display: grid;
    gap: 2rem;

}
.wrapper{
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.h2{
    font-weight: 800;
    font-size: clamp(24px), 3vw + 2rem, 32px;
    letter-spacing: .02em;
}
.h3{
    font-weight: 600;
    font-size: clamp(19px), 3vw + 2rem, 28px;
    letter-spacing: .01em;
    font-size: 3rem;
}
.pp {
    font-size: 1.5rem;
    /* padding: 0 5rem 0 5rem; */
    line-height: 1.8;
}
.ppp{
    /* padding: 0 7.5rem 0 7.5rem; */
    font-size: 1.2rem;
    line-height: 1.8;
}

.ppbl{
    color: var(--white);
}
.black{
    background-color: #1e1e1e;
}
.textwhite{
    color: var(--white);
}
.textlink{
    color: black;
}
@media (min-width: 1532px){
    .textlastcontent{
    
        padding: 0px 23rem 0 23rem;
        text-align: center;
    }
}

.btn{
    font-weight: 600;
    text-decoration: none;
    border-radius: 1rem;
    padding: .3rem 1.3rem;
    transition: background-color 200ms ease-in-out;
}
.btn--light{
    border: 1px solid #334830;
    background-color: transparent;
    color: #334830;
}
.btn--light:is(:hover, :focus):is(:hover, :focus){
    border: 1px solid #334830;
    background-color: var(--whiteHover);
    color: #334830;
}

.btn--outline-green{
    border: 1px solid black;
    background-color: var(--white);
    color: black;
}
.btn--outline-green:is(:hover, :focus){
    border: 1px solid var(--green);
    background-color: var(--greenHover);
    color: var(--green);
}
.btn--outline-green1{
    border: 1px solid var(--white);
    background-color: #1e1e1e;
    color: #ffffff;
}
/* .btn--outline-green1:is(:hover, :focus){
    border: 1px solid var(--green);
    background-color: var(--greenHover);
    color: var(--green);
} */

.btn--filled-green{
    border: 1px solid var(--text);
    background-color: var(--text);
    color: var(--white);
    transition: all 200ms ease-in-out;
}
.btn--filled-green:is(:hover, :focus){

    opacity: .8;
}

nav{
    
    padding: 1rem;
    box-shadow: 0px 1px 6px var(--gray);

}
.nav-wrapper{
    max-width: 1580px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.mobile-menu{
    cursor: pointer;
    background: none;
    border: none;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.nav-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mobile-nav{
    position: absolute;
    top: 7.2rem;
    right: -2rem;
    background-color: #fff;
    display: grid;
    align-items: start;
    align-content: start;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    transform: translateX(200%);
    transition: transform 200ms ease;
}



.mobile-menu.open + .mobile-nav{
    transform: translateX(0%);
}



.nav-ul{
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 0 1rem;
    border-bottom: 2px solid lightgray;
}
.nav-link{
    color: var(--text);
    text-decoration: none;
    display: block;
    margin: .5rem 0;
    padding: .5rem 0;
}

.nav-actions{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.store-finder{
    flex-basis: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    transition: color 200ms ease-in-out;
}

@media (min-width: 768px){
    nav{
        padding: 1rem 2rem;
    }
    .nav-wrapper{
        gap: 2rem;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-nav{
        position: static;
        transform: translateX(0);
        height: initial;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .store-finder{
        flex-basis: initial;
    }
    .nav-ul{
        border: none;
        display: flex;
        padding: 0;
        gap: 1rem;
    }
    .nav-link{
        font-size: .9rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.store-finder:is(:hover, :focus){
 
    color: var(--vibrant-green);

}


main{
    display: grid;
    gap: 2rem;
    max-width: 1440px;
    margin: auto;
}

section{
    background-color: #d1d1aa;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section.reverse{
    flex-wrap: wrap-reverse;
}

.section1{
    background-color: #f9eedf;
    color: #006342;
}
.flex-child{
    display: grid;
    justify-items: center;
    margin: auto;
    gap: 2rem;
    padding: 2rem;    
}

@media screen and (min-width:768px) {
    .flex-child{
       flex: 1 1 50%;   
    }
}


.flex-child--img{
    padding: 0;
}
footer{
    overflow: hidden; 
    box-shadow: 0px 1px 6px var(--gray);   
}
@media (min-width:1254.4px){
    .text-all-item,.social-media{
        display: flex;
        margin: 0 4rem 0 4rem;
        gap: 3rem;
        
    }
    .policy-list{
        width: 20%;
    }
}

@media (max-width: 1254.4px){
    .text-all-item,.social-media{
        margin: 0 2rem 0 2rem;        
    }
    .policy-item{
        margin-top: 2rem;
    }
    
}
.text-all-item{
    border-bottom: 2px solid var(--gray);
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}
.fooetr-item{
    list-style: none;
    line-height: 3rem;
    color: var(--gray);
}
.footer-li:hover{
    cursor: pointer;
    color: black;
}
.text{
    line-height: 5rem;
}
.social-media-item{
    list-style: none;
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
}
.social-media-li:hover{
    cursor: pointer;
}
.social-media{
    display: flex;
    flex-direction: column;
}
.policy-list{
    list-style: none;
    line-height: 2.5rem;
    color: black;
    font-weight: 400;
    
}
.policy-list:hover{
    text-decoration: underline 1px solid black;
}
.copyrightp{
    color: var(--gray);
    font-size: .88rem;
    margin-top: .81rem;
    margin-bottom: 2rem;
}